@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --chakra-colors-green-600: #38457a !important;
  --chakra-colors-green-500: #38457a !important
}

.invalid {
  animation: invalid 0.4s ease-out;
}

@keyframes invalid {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #38457a;
  transition: all 0.3s linear;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 0.8;
}

.scroller {
  width: calc(60vw + 30px);
  padding-right: 20px;
}
